HR Application/xml-resources/web-service-references/LeaveBean/wsdl/localhost_8080/LeaveBeanService/LeaveBean.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://SessionBean/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://SessionBean/" name="LeaveBeanService">
<types>
<xsd:schema>
<xsd:import namespace="http://SessionBean/" schemaLocation="http://localhost:8080/LeaveBeanService/LeaveBean?xsd=1"/>
</xsd:schema>
</types>
<message name="createLeave">
<part name="parameters" element="tns:createLeave"/>
</message>
<message name="createLeaveResponse">
<part name="parameters" element="tns:createLeaveResponse"/>
</message>
<message name="getLeave">
<part name="parameters" element="tns:getLeave"/>
</message>
<message name="getLeaveResponse">
<part name="parameters" element="tns:getLeaveResponse"/>
</message>
<message name="viewLeaveHistory">
<part name="parameters" element="tns:viewLeaveHistory"/>
</message>
<message name="viewLeaveHistoryResponse">
<part name="parameters" element="tns:viewLeaveHistoryResponse"/>
</message>
<message name="editLeave">
<part name="parameters" element="tns:editLeave"/>
</message>
<message name="editLeaveResponse">
<part name="parameters" element="tns:editLeaveResponse"/>
</message>
<message name="getAllLeaveRequest">
<part name="parameters" element="tns:getAllLeaveRequest"/>
</message>
<message name="getAllLeaveRequestResponse">
<part name="parameters" element="tns:getAllLeaveRequestResponse"/>
</message>
<portType name="LeaveBean">
<operation name="createLeave">
<input wsam:Action="http://SessionBean/LeaveBean/createLeaveRequest" message="tns:createLeave"/>
<output wsam:Action="http://SessionBean/LeaveBean/createLeaveResponse" message="tns:createLeaveResponse"/>
</operation>
<operation name="getLeave">
<input wsam:Action="http://SessionBean/LeaveBean/getLeaveRequest" message="tns:getLeave"/>
<output wsam:Action="http://SessionBean/LeaveBean/getLeaveResponse" message="tns:getLeaveResponse"/>
</operation>
<operation name="viewLeaveHistory">
<input wsam:Action="http://SessionBean/LeaveBean/viewLeaveHistoryRequest" message="tns:viewLeaveHistory"/>
<output wsam:Action="http://SessionBean/LeaveBean/viewLeaveHistoryResponse" message="tns:viewLeaveHistoryResponse"/>
</operation>
<operation name="editLeave">
<input wsam:Action="http://SessionBean/LeaveBean/editLeaveRequest" message="tns:editLeave"/>
<output wsam:Action="http://SessionBean/LeaveBean/editLeaveResponse" message="tns:editLeaveResponse"/>
</operation>
<operation name="getAllLeaveRequest">
<input wsam:Action="http://SessionBean/LeaveBean/getAllLeaveRequestRequest" message="tns:getAllLeaveRequest"/>
<output wsam:Action="http://SessionBean/LeaveBean/getAllLeaveRequestResponse" message="tns:getAllLeaveRequestResponse"/>
</operation>
</portType>
<binding name="LeaveBeanPortBinding" type="tns:LeaveBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createLeave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLeave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewLeaveHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editLeave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllLeaveRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LeaveBeanService">
<port name="LeaveBeanPort" binding="tns:LeaveBeanPortBinding">
<soap:address location="http://localhost:8080/LeaveBeanService/LeaveBean"/>
</port>
</service>
</definitions>