HR Application/src/META-INF/wsdl/localhost_8080/EmployeeBeanService/EmployeeBean.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://SessionBean/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://SessionBean/">

<xs:element name="createEmployee" type="tns:createEmployee"/>

<xs:element name="createEmployeeResponse" type="tns:createEmployeeResponse"/>

<xs:element name="getEmployeeList" type="tns:getEmployeeList"/>

<xs:element name="getEmployeeListResponse" type="tns:getEmployeeListResponse"/>

<xs:complexType name="createEmployee">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
<xs:element name="arg6" type="xs:string" minOccurs="0"/>
<xs:element name="arg7" type="xs:int" minOccurs="0"/>
<xs:element name="arg8" type="xs:string" minOccurs="0"/>
<xs:element name="arg9" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createEmployeeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEmployeeList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getEmployeeListResponse">
<xs:sequence>
<xs:element name="return" type="tns:employeeEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="employeeEntity">
<xs:sequence>
<xs:element name="age" type="xs:int" minOccurs="0"/>
<xs:element name="checkInList" type="tns:checkInEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="contactNum" type="xs:string" minOccurs="0"/>
<xs:element name="department" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="leaveList" type="tns:leaveEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="middleName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:string" minOccurs="0"/>
<xs:element name="salaryList" type="tns:salaryEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkInEntity">
<xs:sequence>
<xs:element name="checkInTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="employee" type="tns:employeeEntity" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="leaveEntity">
<xs:sequence>
<xs:element name="employee" type="tns:employeeEntity" minOccurs="0"/>
<xs:element name="fromDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="generatedDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="leaveResult" type="xs:int" minOccurs="0"/>
<xs:element name="reason" type="xs:string" minOccurs="0"/>
<xs:element name="toDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="salaryEntity">
<xs:sequence>
<xs:element name="amount" type="xs:double" minOccurs="0"/>
<xs:element name="employee" type="tns:employeeEntity" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="periodMonth" type="xs:dateTime" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>