HR Application/src/META-INF/wsdl/localhost_8080/EmployeeBeanService/EmployeeBean.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://SessionBean/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://SessionBean/" name="EmployeeBeanService">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/EmployeeBeanService/EmployeeBean?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://SessionBean/" schemaLocation="http://localhost:8080/EmployeeBeanService/EmployeeBean?xsd=2"/>
</xsd:schema>
</types>
<message name="createEmployee">
<part name="parameters" element="tns:createEmployee"/>
</message>
<message name="createEmployeeResponse">
<part name="parameters" element="tns:createEmployeeResponse"/>
</message>
<message name="getEmployeeList">
<part name="parameters" element="tns:getEmployeeList"/>
</message>
<message name="getEmployeeListResponse">
<part name="parameters" element="tns:getEmployeeListResponse"/>
</message>
<message name="getEmployeeInfo">
<part name="parameters" element="tns:getEmployeeInfo"/>
</message>
<message name="getEmployeeInfoResponse">
<part name="parameters" element="tns:getEmployeeInfoResponse"/>
</message>
<message name="getEmployeeImage">
<part name="parameters" element="tns:getEmployeeImage"/>
</message>
<message name="getEmployeeImageResponse">
<part name="parameters" element="tns:getEmployeeImageResponse"/>
</message>
<message name="getContacts">
<part name="parameters" element="tns:getContacts"/>
</message>
<message name="getContactsResponse">
<part name="parameters" element="tns:getContactsResponse"/>
</message>
<portType name="EmployeeBean">
<operation name="createEmployee">
<input wsam:Action="http://SessionBean/EmployeeBean/createEmployeeRequest" message="tns:createEmployee"/>
<output wsam:Action="http://SessionBean/EmployeeBean/createEmployeeResponse" message="tns:createEmployeeResponse"/>
</operation>
<operation name="getEmployeeList">
<input wsam:Action="http://SessionBean/EmployeeBean/getEmployeeListRequest" message="tns:getEmployeeList"/>
<output wsam:Action="http://SessionBean/EmployeeBean/getEmployeeListResponse" message="tns:getEmployeeListResponse"/>
</operation>
<operation name="getEmployeeInfo">
<input wsam:Action="http://SessionBean/EmployeeBean/getEmployeeInfoRequest" message="tns:getEmployeeInfo"/>
<output wsam:Action="http://SessionBean/EmployeeBean/getEmployeeInfoResponse" message="tns:getEmployeeInfoResponse"/>
</operation>
<operation name="getEmployeeImage">
<input wsam:Action="http://SessionBean/EmployeeBean/getEmployeeImageRequest" message="tns:getEmployeeImage"/>
<output wsam:Action="http://SessionBean/EmployeeBean/getEmployeeImageResponse" message="tns:getEmployeeImageResponse"/>
</operation>
<operation name="getContacts">
<input wsam:Action="http://SessionBean/EmployeeBean/getContactsRequest" message="tns:getContacts"/>
<output wsam:Action="http://SessionBean/EmployeeBean/getContactsResponse" message="tns:getContactsResponse"/>
</operation>
</portType>
<binding name="EmployeeBeanPortBinding" type="tns:EmployeeBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmployeeList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmployeeInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmployeeImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getContacts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EmployeeBeanService">
<port name="EmployeeBeanPort" binding="tns:EmployeeBeanPortBinding">
<soap:address location="http://localhost:8080/EmployeeBeanService/EmployeeBean"/>
</port>
</service>
</definitions>