HR Application/xml-resources/web-service-references/QRBean/wsdl/localhost_8080/QRBeanService/QRBean.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://SessionBean/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://SessionBean/">

<xs:element name="checkQR" type="tns:checkQR"/>

<xs:element name="checkQRResponse" type="tns:checkQRResponse"/>

<xs:element name="createQR" type="tns:createQR"/>

<xs:element name="createQRResponse" type="tns:createQRResponse"/>

<xs:element name="getTodayQR" type="tns:getTodayQR"/>

<xs:element name="getTodayQRResponse" type="tns:getTodayQRResponse"/>

<xs:complexType name="checkQR">
<xs:sequence>
<xs:element name="arg0" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkQRResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTodayQR">
<xs:sequence>
<xs:element name="arg0" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTodayQRResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createQR">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createQRResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>