HR Application/xml-resources/web-service-references/QRBean/wsdl/localhost_8080/QRBeanService/QRBean.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://SessionBean/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://SessionBean/" name="QRBeanService">
<types>
<xsd:schema>
<xsd:import namespace="http://SessionBean/" schemaLocation="http://localhost:8080/QRBeanService/QRBean?xsd=1"/>
</xsd:schema>
</types>
<message name="getTodayQR">
<part name="parameters" element="tns:getTodayQR"/>
</message>
<message name="getTodayQRResponse">
<part name="parameters" element="tns:getTodayQRResponse"/>
</message>
<message name="createQR">
<part name="parameters" element="tns:createQR"/>
</message>
<message name="createQRResponse">
<part name="parameters" element="tns:createQRResponse"/>
</message>
<message name="checkQR">
<part name="parameters" element="tns:checkQR"/>
</message>
<message name="checkQRResponse">
<part name="parameters" element="tns:checkQRResponse"/>
</message>
<portType name="QRBean">
<operation name="getTodayQR">
<input wsam:Action="http://SessionBean/QRBean/getTodayQRRequest" message="tns:getTodayQR"/>
<output wsam:Action="http://SessionBean/QRBean/getTodayQRResponse" message="tns:getTodayQRResponse"/>
</operation>
<operation name="createQR">
<input wsam:Action="http://SessionBean/QRBean/createQRRequest" message="tns:createQR"/>
<output wsam:Action="http://SessionBean/QRBean/createQRResponse" message="tns:createQRResponse"/>
</operation>
<operation name="checkQR">
<input wsam:Action="http://SessionBean/QRBean/checkQRRequest" message="tns:checkQR"/>
<output wsam:Action="http://SessionBean/QRBean/checkQRResponse" message="tns:checkQRResponse"/>
</operation>
</portType>
<binding name="QRBeanPortBinding" type="tns:QRBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getTodayQR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createQR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkQR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="QRBeanService">
<port name="QRBeanPort" binding="tns:QRBeanPortBinding">
<soap:address location="http://localhost:8080/QRBeanService/QRBean"/>
</port>
</service>
</definitions>